@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #F5F5F5;
    width: 1280px;
    margin: 0 auto;
    font-family: "Fira Sans", serif;
}

/* Shared Styles */
.dark-1{
    color: #0E0E0E;
}

.dark-green {
    color: #006A50;
}

.button {
    font-size: 18;
    font-weight: 600;
    padding: 17px 34px;
    background-color: #006A50;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.button:hover {
    color:#006A50;
    background-color: white;
    border: 1px solid #006A50;
    border-radius: 8px;
    padding: 16px 33px;
    opacity: 0.7;
}

.section-title {
    color: #0E0E0E;
    font-size: 40px;
    font-weight: bold;
    margin-top: 80px;
}

.section-description {
    color: rgba(14, 14, 14, 0.70);
    margin-top: 24px;
}

/* Nav style */
nav {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 31px;
}

.nav-button {
    padding: 15px 30px;
    border: 1px solid #006A50;
    border-radius: 8px;
    cursor: pointer;
}
.nav-button:hover{
    transition: 0.5s;
    opacity: 0.7;
    background-color: #006A50;
    color: white;
    border: 1px solid white;
    border-radius: 8px;
}
/* Banner Style */

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C6E4D6;
    border-radius: 24px;
    padding-left: 60px;
    padding-right: 60px;
    height: 560px;
    margin-top: 20px;
}

.banner-title {
    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.50);
    margin-bottom: 16px;
}

.banner-header {
    font-size: 56px;
    font-weight: bold;
    width: 622px;
    margin-bottom: 24px;
}

/* Pillar style */

.pillars {
    display: flex;
    gap: 24px;
    justify-content: space-around;
}

.pillar {
    background-color: white;
    padding: 24px;
    margin-top: 32px;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
}

.pillar .img {
    margin-bottom: 24px;
}

.pillar .pillar-title {
    color: #0E0E0E;
    margin-bottom: 12px;
}
.pillar .pillar-description {
    color: rgba(14, 14, 14, 0.70);
}

/* Vision style */

.visions {
    margin-top: 32px;
    display: flex;
    gap: 24px;
    justify-content:space-between;
}

.vision {
    padding: 32px;
    border-radius: 16px;
    border: none;
    width: 410.67px;
}

.vision img {
    margin-bottom: 24px;
}

.vision-title {
    font: 20px;
    font-weight: bold;
    margin-bottom: 12px;
    color: rgba(14, 14, 14, 0.80);
}

.vision-description{
    height: 72px;
    color: rgba(14, 14, 14, 0.70);
}

.vision-button button {
    padding: 11px 20px;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: 600;
}

.vision-button button:hover {
    opacity: 0.8;
}
.vision-1 {
    background-color: rgba(84, 144, 245, 0.20);
}

.vision-1 button {
    background-color: #5490F5;
}

.vision-2 {
    background-color: rgba(198, 228, 214, 1.00);
}

.vision-2 button {
    background-color: #09A15C;
}

.vision-3 {
    background-color: rgba(247, 235, 207, 1.00);
}

.vision-3 button {
    background-color: #FFC239;
}

/* Quote Style */

.quote {
    margin-top: 32px;
    border-radius: 16px;
    padding: 48px 24px;
    background-color: white;
    background-image: url('../assets/quote-bg.png');
    background-position: 30px 24px;
    background-repeat: no-repeat;
    color: rgba(14, 14, 14, 0.80);
}

.quoter {
    font-size: 20px;
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 4px;
}

.quoter-designation {
    color: rgba(14, 14, 14, 0.60);
}

/* Table Style */
.table-container {
    margin-top: 32px;
    padding: 32px;
    background-color: white;
}

table {
    border-collapse: collapse;
}
th {
    background-color: #C6E4D6;
    text-align: left;
}

td, th {
    border: 1px solid #C6E4D6;
    padding: 24px;
    width: 1017px, 200px;
}

td > select {
    padding: 12.5px;
    background-color: #C6E4D6;
    border-radius: 4px;
    width: 152px;
    font-weight: 500;
}

.table-2ndheader {
    padding-left: 0px;
}

/* News Style */

.news {
    padding: 48px;
    display: flex;
    background-color: white;
    margin-bottom: 24px;
    border-radius: 24px;
    align-items: center;
}

.news-des {
    margin-bottom: 32px;
}

.news > div > img {
    width: 408px;
    border-radius: 24px;
    margin-right: 32px;
}

.news-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 12px;
}

.time {
    padding-left: 12px;
}

.date {
    margin-top: 12px;
    margin-bottom: 12px;
    color: rgba(14, 14, 14, 0.70);
}

.news-description {
    color: rgba(14, 14, 14, 0.70);
    margin-bottom: 32px;
}

/* Donate Style */

.Donate {
    text-align: center;
}

.donate-card {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.donate-card > h3 {
    margin-top: 32px;
    font-size: 40px;
    font-weight: bold;
    padding: 40px;
    background-color: white;
    border-radius: 16px;
    cursor: pointer;
}

.donate-card > h3:hover {
    background-color: #006A50;
}

#different {
    background-color: #C6E4D6;
}

.donate-form input[type="text"] {
    margin-top: 32px;
    text-align: center;
    padding: 20px 422px;
    border-radius: 16px;
    border: none;
}

/* Newsletter style */

.newsletter {
    margin-top: 80px;
    background-color: #C6E4D6;
    text-align: center;
    padding: 80px 265px;
    border-radius: 24px;
}

.newsletter input[type="text"] {
    padding: 18px 403px 18px 40px;
    border-radius: 8px 0px 0px 8px;
    border: none;
}

.newsletter-form {
    margin-top: 24px;
    display: flex;
}

.button-1 {
    font-size: 18;
    font-weight: 600;
    padding: 17px 34px;
    background-color: #006A50;
    color: white;
    border-radius: 0px 8px 8px 0px;
    border: none;
    cursor: pointer;
}

.button-1:hover {
    color:#006A50;
    background-color: white;
    border: 1px solid #006A50;
    border-radius: 0px 8px 8px 0px;
    padding: 16px 33px;
    opacity: 0.7;
}

.footer {
    background-color: white;
    text-align: center;
    margin-top: 80px;
}

.footer > h3 {
    font-size: 32px;
    font-weight: bold;
    padding-top: 50px;
    margin-bottom: 31.5px;
}

.footer > img {
    margin-top: 32.5px;
    margin-bottom: 50px;
    margin-right: 23px;
}
